/* [project]/styles/testimonial.css [client] (css) */
.testimonialSection {
  text-align: center;
  color: #fff;
  background-color: #0000;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 50px 20px;
}

.testimonialHeading {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.testimonialHeading h2 {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 700;
}

.testimonialHeading h5 {
  border: 1px solid #f33bc0;
  border-radius: 50px;
  margin-bottom: 10px;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
}

.testimonialHeading p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.testimonialCard {
  text-align: justify;
  opacity: .8;
  background: linear-gradient(to right, #333236, #1f1d21, #333236);
  border-radius: 20px;
  padding: 30px;
  transition: transform .3s, opacity .3s;
  transform: scale(.8);
  box-shadow: 0 4px 10px #0000004d;
}

.swiper-slide-active .testimonialCard {
  z-index: 10;
  opacity: 1;
  background: linear-gradient(to right, #494949, #282828, #494949);
  transform: scale(1.02);
  box-shadow: 0 8px 20px #00000080;
}

.swiper-container {
  max-width: 1000px;
  margin: 0 auto;
}

.swiper-button-prev, .swiper-button-next {
  z-index: 10;
  cursor: pointer;
  background: #343a40;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 96%;
  transform: translateY(-50%);
  box-shadow: 0 2px 5px #0003;
}

.swiper-button-prev {
  left: 46%;
}

.swiper-button-next {
  right: 44%;
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
}

.swiper {
  padding: 10px 0 80px;
}

.swiper-slide {
  justify-content: center;
  display: flex;
}

.testimonialText {
  margin-bottom: 20px;
  font-size: 14px;
  font-style: italic;
}

.testimonialAuthor {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.authorImage {
  border-radius: 50%;
  margin-right: 15px;
}

.authorInfo h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.authorInfo p {
  color: #bbb;
  font-size: 1rem;
}

.customerCountSection {
  margin-bottom: 30px;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #e46bd3;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  display: none;
}

.testimonialCard {
  position: relative;
}

.testimonialIcon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media (width <= 766.98px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    width: 100%;
    display: none;
    left: 0;
  }

  .swiper-button-prev {
    left: 36%;
  }

  .swiper-button-next {
    right: 36%;
  }

  .testimonialHeading h2 {
    font-size: 28px;
  }

  .testimonialHeading p {
    margin-bottom: 10px;
    font-size: 15px;
  }

  .testimonialSection {
    padding: 10px;
  }
}

/*# sourceMappingURL=styles_testimonial_css_2bef753f._.single.css.map*/